body {
  margin: 0;
  font-family: Arial, sans-serif;
  min-height: 100vh; /* 设置 body 的最小高度为视口的高度 */
  /*display: flex;*/
  flex-direction: column;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  position: relative;
}

.user-bar {
  position: absolute;
  top: 100%;
  right: 0;
  transform: translateY(-100%);
  padding: 10px;
  background-color: #007bff;
  z-index: 1000;
}

.user-bar span {
  margin-right: 20px;
}

.user-bar a {
  color: #fff;
  margin-right: 10px;
  text-decoration: none;
}

.user-bar a:hover {
  text-decoration: underline;
}

.action-button-container {
  display: inline-block;
}

.action-button {
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  border: 2px solid #0056b3;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
}

.action-button:hover,
.dropdown-content:hover {
  background-color: #87CEFA;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #87CEFA;
  box-shadow: 0 8px 16px rgba(0,0,0,0.1);
  z-index: 1;
  max-width: 150px;
  right: 0;
  top: 100%;
}

.dropdown-content a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.main-content {
  flex: 1;
  display: flex;
}

nav {
  width: 200px;
  background-color: #f4f4f4;
  padding: 20px;
  --header-height: 140px; /* 默认高度，可以根据实际情况调整 */
  min-height: calc(100vh - var(--header-height));
}

nav a {
  display: block;
  padding: 10px;
  margin-bottom: 10px;
  text-decoration: none;
  color: #333;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: #ddd;
}

.content {
  flex: 1;
  padding: 20px;
}